section {
  padding: 80px 0;
}

.title {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.book-card .book-title {
    margin: 0 0 25px;
    font-size: 14px;
    font-weight: 900;
    color: #000;
    line-height: 25px;
}

.book-card img {
  height:224px;
}

.book-intro {
  font-weight: 500;
}

.legal-info {
  font-size: 13px;
}

.written-by {
  font-weight: 500;
  margin-bottom: 0px;
}

.book-version {
  font-size: 13px;
  color: gray;
  font-weight: 500;
}

.book-version i {
  padding-right: 3px;
  font-size: 14px;
}

.book-card .book-details {
    padding: 30px 30px 24px;
    border: 1px solid #ccc;
    border-top: 0;
    -webkit-box-shadow: -1px 10px 32px -4px rgba(186,186,186,1);
    -moz-box-shadow: -1px 10px 32px -4px rgba(186,186,186,1);
    box-shadow: -1px 10px 32px -4px rgba(186,186,186,1);
}

.content-modal {
  padding-bottom: 20px;
}

.content-modal a{
  font-weight: 500;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.close-modal {
  color: gray;
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 17px;
  cursor: pointer;
}

.author-section {
background: -webkit-linear-gradient(to right, #183289, #162358);
background: -o-linear-gradient(to right, #183289, #162358);
background: -moz-linear-gradient(to right, #183289, #162358);
background: linear-gradient(to right, #183289, #162358);
}

.author-section h1,
.author-section p {
  color: white;
}

.try-auth0-section {
  background-color: white;
}

.try-auth0-section .container {
  background-color: #F8F8F8;
}

.try-auth0-card {
  padding: 45px 0;
}
.try-auth0-logo {
  max-width: 60px;
}
.book-card .written-by {
  font-size: 12px;
}

.try-auth0-card ul li i{
  color: #21A888;
  font-size: 20px;
  margin-right: 3px;
}

.modal-title {
    font-size: 28px;
}

.modal-data-container {
    padding-top: 30px;
}

.content-index-line {
  overflow: hidden;
}

.content-index-name {
  float: left;
  display: inline;
  margin-right: 10px;
}

.content-index-parent{
  font-weight: 500;
}

.content-index-page {
  float: right;
  display: inline;
}

.content-modal-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 720px) {


  .content-modal-box {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: auto;
    border-radius: 0px;
    outline: medium none currentcolor;
    padding: 20px;
    margin: auto;
    width: 50%;
  }

  .book-card .book-version {
    display: none;
  }

  .book-card .written-by {
    display: none;
  }

  .author-section {
    height: 700px;
  }

  .book-card {
    padding-right: 25px;
  }

  .try-auth0-section .container {
    margin-top: -300px;
  }

  .try-auth0-card ul {
    list-style: none;
    padding: 0 0 30px;
    display: flex;
    justify-content: center;
  }

  .try-auth0-card ul li {
    padding: 0 15px;
  }
  .try-auth0-card button {
    margin-left: 5px;
  }
  .mobile-title {
    display: none
  }
  .about-mobile {
    display: none;
  }

  .auth0-li-icon{
    color: green;
  }
}
@media (max-width: 719px) {
  .content-modal-box {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: auto;
    border-radius: 0px;
    outline: medium none currentcolor;
    padding: 20px;
  }

  .modal-data-container{
    text-align: center;
  }

  .book-card .book-version {
    text-align: center;
  }

  .book-card .written-by {
    padding-top: 5px;
    text-align: center;
  }

  .author-photo-section {
    text-align: center;
  }

  .author-description-section {
    padding-top: 20px;
  }

  .about-desktop {
    display: none;
  }

  .book-card {
    padding-right: 5px;
  }

  .book-data .book-version {
    display: none;
  }

  .book-data {
    padding-top: 25px;
  }

  .book-data .written-by {
    display: none;
  }
  .desktop-title {
    display: none
  }

  .try-auth0-section {
    padding: 0px;
  }

  .try-auth0-card ul {
    list-style: none;
    padding-left: 0px;
  }

  button {
    display: block;
    width: 100%;
    margin-top: 10px;
  }

  .try-auth0-card ul li {
    text-align: left;
  }
}
